header {
    width: 100%;
    font-family: "Kdam Thmor Pro";
  
  }

body {
    background-color: #FFD2D2;
}

.container {
    background-color: #FFEEEE;
    padding: 20px;
    padding-left: 120px;
   
}

.container h1{
    margin-bottom: 20px;
    font-family: "Kdam Thmor Pro";
}

#emailDiv{
    margin-right: 100px;
    width: 500px;
}

#nomeDiv{
    width: 500px;
}

#dataDiv{
    margin-left: 100px;
}

#celDiv{
    width: 500px;
}

#senhaDiv{
    margin-left: 100px;
    width: 500px;
}

#cepDiv{
    margin-right: 100px;
    width: 500px;
}

#campoAdicionar{
    margin-top: 70px;
        
}

#campoAdicionar button{
    width: 300px;
    height: 50px;
    font-family: "Kdam Thmor Pro";
}

#campoAdicionar p{
    margin-left: 100px;
    
}



.list-group {
 
    
   
    padding: 20px; 
}



.list-group-item a {

    font-size: 25px;
    display: block;
    padding: 20px ;
    text-decoration: none;
    color: #fff;
    background-color: #000000;
    font-family: 'Kdam Thmor Pro';
   
   
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;

   
}

.list-group-item a:hover {
    background-color: #55cee7;
    border-color: #0056b3;
}



.footer {
    background-color: #000000;
    font-size: 13px;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
}


.float-left img{
    width: 150px;
    height: 150px;
    margin: 0 10px;
}


.d-flex img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}